<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>OmsServlet</servlet-name>
        <servlet-class>OmsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dbutility</servlet-name>
        <servlet-class>Dbutility</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>View</servlet-name>
        <servlet-class>View</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FundView1</servlet-name>
        <servlet-class>FundView1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServ</servlet-name>
        <servlet-class>DeleteServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update1</servlet-name>
        <servlet-class>Update1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MemberView</servlet-name>
        <servlet-class>MemberView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MemView1</servlet-name>
        <servlet-class>MemView1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OmsAddMem</servlet-name>
        <servlet-class>OmsAddMem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MemberDelete</servlet-name>
        <servlet-class>MemberDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MemberUpdate2</servlet-name>
        <servlet-class>MemberUpdate2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAccount</servlet-name>
        <servlet-class>CreateAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginPage</servlet-name>
        <servlet-class>LoginPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DBConnect</servlet-name>
        <servlet-class>com.DBConnect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewMemDropDown</servlet-name>
        <servlet-class>ViewMemDropDown</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cashier</servlet-name>
        <servlet-class>Cashier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Membership</servlet-name>
        <servlet-class>Membership</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>YearText</servlet-name>
        <servlet-class>YearText</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Profile</servlet-name>
        <servlet-class>Profile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OmsServlet</servlet-name>
        <url-pattern>/addData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>View</servlet-name>
        <url-pattern>/Viewdata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FundView1</servlet-name>
        <url-pattern>/belowFundTbl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServ</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update1</servlet-name>
        <url-pattern>/update1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MemberView</servlet-name>
        <url-pattern>/MemView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MemView1</servlet-name>
        <url-pattern>/memView1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OmsAddMem</servlet-name>
        <url-pattern>/insertMember</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MemberDelete</servlet-name>
        <url-pattern>/memDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MemberUpdate2</servlet-name>
        <url-pattern>/memUpdate2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAccount</servlet-name>
        <url-pattern>/createaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginPage</servlet-name>
        <url-pattern>/logPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dbutility</servlet-name>
        <url-pattern>/Dbutility</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DBConnect</servlet-name>
        <url-pattern>/DBConnect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewMemDropDown</servlet-name>
        <url-pattern>/viewMemDropDown</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cashier</servlet-name>
        <url-pattern>/cashierName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Membership</servlet-name>
        <url-pattern>/membership</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>YearText</servlet-name>
        <url-pattern>/yearText</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profile</servlet-name>
        <url-pattern>/Profile</url-pattern>
    </servlet-mapping>
</web-app>
